<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static "/user/css/bootstrap.css" %}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <a href="userlogin">Logout</a><br>
        <a href="changeuserpassword">Change Password</a><br>
        <a href="userbooking">Book Order</a>
    </div>
</body>
</html>