<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static "/user/css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
{% include "adminheader.html" %}
<div class="container">
        <h1 class="m-3 text-center">Menu Details</h1>
        <table class="table table-active">
            <tr class="purple-head">
                <th>Meal ID</th>
                <th>Meal Type</th>
                <th>Date</th>
                <th>Description</th>
                <th>Price</th>
                <th colspan="2">Options</th>
            </tr>

            {% for element in ar %}
                <tr>
                    <td>{{ element.mealid }}</td>
                    <td>{{ element.mealtype }}</td>
                    <td>{{ element.date }}</td>
                    <td>{{ element.description }}</td>
                    <td>{{ element.price }}</td>
                    <td><a class="btn btn-danger" href="deletemenu?selectedvalue={{ element.mealid }}">Delete</a> </td>
                    <td><a class="btn purple-btn" href="editmenu?selectedvalue={{ element.mealid }}">Edit</a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{% static 'user/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/js/popper.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>

</body>
</html>