<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static "/user/css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
{% include "adminheader.html" %}
<div class="container">
        <h1 class="text-center m-3">Admin Details</h1>
        <table class="table table-active">
            <tr class="purple-head">
                <th>Email</th>
                <th>Role</th>
                <th colspan="2">Options</th>
            </tr>

            {% for element in ar %}
                <tr>
                    <td>{{ element.email }}</td>
                    <td>{{ element.role }}</td>
                    <td><a class="btn btn-outline-danger" href="deleteadmin?selectedvalue={{ element.email }}">Delete</a> </td>
                    <td><a class="btn purple-btn" href="editadmin?selectedvalue={{ element.email }}">Edit</a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{% static 'user/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/js/popper.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>

</body>
</html>